:root {
  --font-primary: "Inter", sans-serif;
  --title-1: 1.125rem;
  --title-2: 1rem;
  --title-3: 0.875rem;
  --title-4: 0.75rem;

  --weight-1: 700;
  --weight-2: 600;
  --weight-3: 400;

  --color-primary: #27ae60;
  --color-secondary: #eb5757;

  --gray-600: #333333;
  --gray-400: #bdbdbd;
  --gray-300: #828282;
  --gray-100: #e0e0e0;
  --gray-0: #f5f5f5;
  --gray: #ffffff;

  --radius-1: 0.5rem;
  --radius-2: 0.3125rem;
}