.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;

  height: 76px;
  width: 100%;

  background-color: var(--grey-0);

  button {
    display: flex;
    align-items: center;

    background-color: var(--grey-0);

    position: relative;

    height: 50px;
    width: 36px;

    span {
      width: 20px;
      height: 22px;

      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 0;
      right: 0;

      background-color: var(--color-primary);
      color: var(--gray-0);

      border-radius: 0.4375rem;
      font-weight: 900;

      font-size: var(--title-4);
    }
  }
}

@media (max-width: 480px) {
.header {
  padding: 0 1rem;
}
}